{% block footer %}
    <div class="ui footer segment">
        <div class="ui center aligned container">
            <div class="ui horizontal divided link list">
                <a class="item" href="#"><i class="icon black facebook f"></i></a>
                <a class="item" href="#"><i class="icon black snapchat ghost"></i></a>
                <a class="item" href="#"><i class="icon black instagram"></i></a>
                <a class="item" href="#"><i class="icon black skype"></i></a>
                <a class="item" href="#"><i class="icon black whatsapp"></i></a>
                <a class="item" href="#"><i class="icon black twitter"></i></a>
                <a class="item" href="#"><i class="icon black youtube"></i></a>
                <a class="item">Developed with love in Ottawa</a>
            </div>
        </div>
    </div>
{% endblock %}