{% block header %}
    <div class="ui sticky">
        <div class="ui fluid nine item secondary menu">
            <a class="active item" href="/">KOURI</a>
            <a class="item">UNIVERSITÉS</a>
            <a class="item">SERVICES</a>
            <a class="item">FAQ</a>
            <a class="item">NOTRE EQUIPE</a>
            <a class="item">CONTACT</a>
            <a class="item"><i class="big icon user"></i></a>
            <a class="item">FR | EN</a>
        </div>
    </div>
{% endblock %}