<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block stylesheet %}
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/semantic/out/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/static/scss/home/signup.css">
        {#<link rel="stylesheet" type="text/css" href="../../../static/scss/homepage.css">#}
    {% endblock %}
{% endblock %}

<body>
    <div class="content container">
        {% block header %}
            {% include "partials/_header.njk" %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div class="ui fixed bottom sticky">
            {% block footer %}
                {% include "partials/_footer.njk" %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

{% block script %}
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/semantic/out/semantic.min.js"></script>
    <script>
        $('select.dropdown, .ui.dropdown')
                .dropdown()
        ;
    </script>
{% endblock %}