<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../../static/scss/home/homepage.css">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="content container">
    <div style="height: 55vh;">
        <div class="ui container center aligned" style="background: rgba(255,255,255,.5); border-radius: 4px; padding-bottom: 2em;">
            <h1 class="ui header" style="margin-top: 5em; font-size: 4em;">Welcome to Kouri</h1>
            <div class="ui huge primary buttons">
                <a class="secondary ui button" href="/signup" style="margin: 2px"><i class="add user icon"></i>Sign up</a>
                <a class="secondary ui button" href="/login" style="margin: 2px"><i class="sign in icon"></i>Log in</a>
            </div>
        </div>
    </div>

    {#bikini bottom#}
    <div class="ui segment">
        {% block header %}
            {% include "partials/_header.njk" %}
        {% endblock %}
        <div class="ui active grid column" style="margin-top: 50px">
            <div class="ui container">
                {% block stats %}
                    {% include "stats.njk"%}
                {% endblock %}
                {% block process %}
                    {% include "process.njk"%}
                {% endblock %}
                <div>
                    <h2>Video</h2>
                    <div class="ui embed" data-url="" data-placeholder="/static/img/student1.jpg"></div>
                </div>
            </div>
        </div>
    </div>

    {#footer#}
    {% block footer %}
        {% include "partials/_footer.njk" %}
    {% endblock %}
</div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
<script>
    $('.visibilitySetup')
        .visibility({
            onTopVisible: function() {
                $('.step')
                    .transition({
                        animation : 'slide up'
                    })
                ;
            },
        })
    ;

    $('.ui.sticky')
            .sticky()
    ;

    $('.ui.embed').embed();
</script>
</html>