{% extends "_base.njk" %}
<link rel="stylesheet" type="text/css" href="/static/scss/home/login.css">

{% block content %}
<div>
    <div class="ui two column centered grid">
        <div class="row">
            <div class="column centered">
                <h1>Welcome to Kouri</h1>
            </div>
        </div>

    </div>
</div>
{% endblock %}
