<div class="custombody">
    <h2>Notre workflow</h2>
    <div class="ui six steps">
        <div class="step transition hidden">
            <i class="icon big add user"></i>
            <div class="content">
                <div class="title">Creer un compte</div>
                <div class="description">Votre projet prend forme ici</div>
            </div>
        </div>
        <div class="step transition hidden">
            <i class="icon big university"></i>
            <div class="content">
                <div class="title">Faire son choix</div>
                <div class="description">Nous vous trouvons les universites qui vous conviennent</div>
            </div>
        </div>
        <div class="step transition hidden">
            <i class="icon big folder open outline"></i>
            <div class="content">
                <div class="title">Demande d'admission</div>
                <div class="description">Le processus d'application aux universites peut commencer</div>
            </div>
        </div>
        <div class="step transition hidden">
            <i class="icon big file text outline "></i>
            <div class="content">
                <div class="title">Demandes accessoires</div>
                <div class="description">Permis d'étude, bourses, logement, nous vous accommodons</div>
            </div>
        </div>
        <div class="step transition hidden">
            <i class="icon big world user"></i>
            <div class="content">
                <div class="title">Visa</div>
                <div class="description">Obtenez la residence temporaire, le temps de vos etudes</div>
            </div>
        </div>
        <div class="step transition hidden">
            <i class="icon big hand peace"></i>
            <div class="content">
                <div class="title">Let's get it started</div>
                <div class="description">Votre nouvelle vie d'etudiant</div>
            </div>
        </div>
    </div>
    <div class="visibilitySetup"></div>
</div>