<div class="custombody">
    <h2>Nos chiffres</h2>
    <div class="ui four statistics">
        <div class="statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                Étudiants admis
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                15
            </div>
            <div class="label">
                Universités visitées
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Three<br>
                Thousand
            </div>
            <div class="label">
                Comptes actifs
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="plane icon"></i> 5
            </div>
            <div class="label">
                Pays explorés
            </div>
        </div>
    </div>
</div>