body{
  background-image: url('/static/img/student.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif!important;

  h1, a{
    font-family: 'Work Sans', sans-serif!important;
  }
}

.statistic {
  .label, .value{
    font-family: 'Work Sans', sans-serif!important;
  }
}

.custombody{
  font-family: 'Work Sans', sans-serif!important;
  margin-bottom: 10em;

  h2{
    font-family: 'Work Sans', sans-serif!important;
    margin-bottom: 1em;
  }

  .title{
    font-family: 'Work Sans', sans-serif!important;
    font-weight: 600;
  }
}

.ui.segment{
  margin: 0;
  .ui.sticky{
    background-color: #fff;
    a{
      font-weight: 600;
    }
  }
}
.footer{
  a{
    color: #000000!important;
    font-weight: 600;
  }
}
.ui.header{
  font-size: 4em;
  font-weight: 400!important;
}
.ui.button{
  font-weight: 400!important;
}