body {
  background-color: rgba(191, 191, 191, .9);
  font-family: 'Work Sans', sans-serif!important;
}

.ui.grid.centered.three.column > .column{
  background-color: rgba(255, 255, 255, .5);
}
.ui.menu.item{
  background-color: #ffffff;
  .item{
    font-weight: 600;
    font-family: 'Work Sans', sans-serif!important;
  }
}

.ui.bottom{
  width: 100%;
  a{
    color: #000000!important;
    font-weight: 600;
  }
}

.ui.grid{
  margin-top: 1em;
}

.field.column{
  margin-bottom: 0rem!important;
  padding: 0.75rem 0 .75rem .75rem!important;
}
.ui.button{
  margin: 0;
  font-family: 'Work Sans', sans-serif!important;
}

.ui.radio.checkbox{
  margin-right: 2em;
}

.ui.form input{
  font-family: 'Work Sans', sans-serif!important;
}
h2.ui.header{
  font-family: 'Work Sans', sans-serif!important;
}