<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block stylesheet %}
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
    {% endblock %}
{% endblock %}

<body>
{#{% block header %}#}
    {#{% include "partials/_header.njk" %}#}
{#{% endblock %}#}

<div class="ui bottom attached segment pushable">

    {% block navbar %}
        {% include "partials/_navbar.njk" %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    {#{% include "partials/_footer.njk" %}#}
{% endblock %}
</body>
</html>

{% block script %}
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
    <script>
        $('.ui.dropdown')
                .dropdown()
        ;
        $('.visible.example .ui.sidebar')
                .sidebar({
                    context: '.visible.example .bottom.segment'
                })
                .sidebar('hide')
        ;
    </script>

{% endblock %}