{% extends "_base.njk" %}

{% block content %}
    <div class="pusher content">
        <div class="ui basic segment">
            <h1 class="ui header">{{ title }}</h1>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
{% endblock %}
