*{
  font-family: 'Work Sans', sans-serif;
}

#content{
  h1{
    font-family: 'Work Sans', sans-serif;
  }

}

.ui.container{
  margin-left: 0!important;
}
.ui.pushable{
  background-color: #c0c0c0;
}
.ui.three.column{
  .column{
    div{
      width: 95%;
      margin: 0 auto;
      background-color: #FFF;
      border-radius: .5em;
      min-height: 10em;
      h1{
        text-align: center;
      }
      p{
        margin-left: 1em;
      }
    }
  }
}